@{
    ViewData["Title"] = "Hata";
}

<div class="container py-5 text-center">
    <h1 class="text-danger">Hata.</h1>
    <h2 class="text-danger">İşleminiz sırasında bir hata oluştu.</h2>

    <div class="my-4">
        <p>
            <strong>Bir şeyler yanlış gitti.</strong> Lütfen daha sonra tekrar deneyin veya site yöneticisiyle iletişime geçin.
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ana Sayfaya Dön</a>
    </div>
</div>
